* {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    max-width: 100%;
}

@media screen and (min-width: 601px) {
    /* Cabeçalho */
    header {
        background-color: #2e3466;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    nav ul {
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    nav a {
        color: #fff;
        text-decoration: none;
    }

    nav a:hover {
        color: #5f69f5;
    }

    nav span {
        color:#a2a8fa;
    }

    nav span:hover {
        color: #5f69f5
    }

    header img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }

    /* Conteúdo Principal */

    /* Página Index */
    .news-container {
        display: flex;
        margin: 1rem 0;
        gap: 5rem;
        justify-content: center;
    }

    .news-item {
        border: 1px solid #333;
        margin: 1.5rem 0;
        box-shadow: rgba(0, 0, 0, .34) 4px 6px 8px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .news-item img {
        height: 500px;
        object-fit: cover;
        width: 500px;
    }

    /* Página Pároco */
    .news-pcontainer {
        display: flex;
        margin: 1rem 0;
        gap: 5rem;
        justify-content: center;
    }

    .news-paroco {
        border: 1px solid #333;
        margin: 1.5rem 0;
        box-shadow: rgba(0, 0, 0, .34) 4px 6px 8px;
        padding: 1rem;
        will-change: 600px;
        display: inline-flex;
        flex-direction: column;
        gap: 1rem;
    }

    .news-paroco img {
        height: 400px;
        object-fit: cover;
        width: 400px;
    }

    /* Página Secretaria */
    .news-secret {
        margin: 1.5rem 0;
        padding: 1rem;
        will-change: 800px;
        display: inline-flex;
        flex-direction: column;
        gap: 1rem;
    }

    .news-secret ul {
        list-style-type: disc;
        gap: 2rem;
    }

    /* Barra lateral */
    h3 {
        margin-bottom: 1.5rem;
    }

    aside ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style-position: inside;
    }

    /* Rodapé */

    footer {
        padding: 2rem;
        background-color: #2e3466;
        text-align: center;
        color: #fff;
    }

    footer img {
        width: 20px;
        height: 20px;
    }

    footer a {
        display: inline-flex;
        flex-direction: row;
        text-decoration: none;
        align-items: center;
        color: #fff;
        gap: 5px;
    }

    .news-social {
        display: inline-block;
        gap: 4rem;
    }

    footer a:hover {
        color: #847c99;
    }
}



/* Tablet*/
/* @media screen and (max-width: 768px) {
    section, aside {
        width: 100%;
        padding: 0;
    }    
} */

/*Celular*/

@media screen and (max-width: 600px){
    header {
        background-color: #2e3466;
        color: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    header img {
        display: none;
    }

    h1#paroquia {
        text-align: center;
    }

    nav ul {
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 1rem;
    }

    nav a {
        color: #fff;
        text-decoration: none;
    }

    nav a:hover {
        color: #5f69f5;
    }

    nav span {
        color:#a2a8fa;
    }

    nav span:hover {
        color: #5f69f5
    }

        /* Conteúdo Principal */

    /* Página Index */
    .news-container {
        display: flex;
        margin: 1rem 0;
        gap: 5rem;
        justify-content: center;
    }

    .news-item {
        border: 1px solid #333;
        margin: 1.5rem 0;
        box-shadow: rgba(0, 0, 0, .34) 4px 6px 8px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .news-item img {
        height: 500px;
        object-fit: cover;
        width: 500px;
    }

    /* Página Pároco */
    .news-pcontainer {
        display: flex;
        margin: 1rem 0;
        gap: 5rem;
        justify-content: center;
    }

    .news-paroco {
        border: 1px solid #333;
        margin: 1.5rem 0;
        box-shadow: rgba(0, 0, 0, .34) 4px 6px 8px;
        padding: 1rem;
        will-change: 600px;
        gap: 1rem;
    }

    .news-paroco img {
        height: 400px;
        object-fit: cover;
        width: 400px;
    }

    /* Página Secretaria */
    .news-secret {
        margin: 1.5rem 0;
        padding: 1rem;
        will-change: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .news-secret ul {
        list-style-type: disc;
        gap: 2rem;
    }

    h2#celebracao {
        text-align: center;
    }

    /* Rodapé */

    footer {
        padding: 2rem;
        background-color: #2e3466;
        text-align: center;
        color: #fff;
    }

    footer img {
        width: 20px;
        height: 20px;
    }

    footer a {
        display: inline-flex;
        flex-direction: row;
        text-decoration: none;
        align-items: center;
        color: #fff;
        gap: 5px;
    }

    .news-social {
        display: inline-block;
        gap: 4rem;
    }

    footer a:hover {
        color: #847c99;
    }
}
